<div class="dashboard-container">
    <div class="control-panel">
        <div class="control-group">
            <label>Season</label>
            <select [(ngModel)]="selectedYear" (change)="onSelectionChange()">
                <option *ngFor="let y of years" [value]="y">{{y}}</option>
            </select>
        </div>

        <div class="control-group">
            <label>Pitching Team</label>
            <select [(ngModel)]="pitchingTeam" (change)="onSelectionChange()">
                <option *ngFor="let t of teams" [value]="t">{{t}}</option>
            </select>
        </div>

        <div class="control-group">
            <label>Opponent (Batting)</label>
            <select [(ngModel)]="battingTeam" (change)="onSelectionChange()">
                <option *ngFor="let t of filteredBattingTeams" [value]="t">{{t}}</option>
            </select>
        </div>
    </div>

    <hr>

    <div id="vis" class="chart-area"></div>
</div>