<div class="dashboard-container" *ngIf="currentYearData">
  
  <div class="controls">
    <select (change)="onPlayerSelect($any($event.target).value)">
      <option *ngFor="let name of playerNames" [value]="name">{{name}}</option>
    </select>

    <select (change)="onYearSelect($any($event.target).value)" [value]="selectedYear">
      <option *ngFor="let year of availableYears" [value]="year">{{year}}</option>
    </select>
  </div>

  <div class="visuals">
    <div class="chart-box">
      <h3>Player Identity</h3>
      <canvas #radarCanvas></canvas>
    </div>

    <div class="heatmap-box">
      <h3>Panic Profile (Decision by Count)</h3>
      <div class="count-grid">
        <div class="header"></div>
        <div class="header">0S</div><div class="header">1S</div><div class="header">2S</div>

        <ng-container *ngFor="let b of [0, 1, 2, 3]">
          <div class="header">{{b}}B</div>
          <div *ngFor="let s of [0, 1, 2]" 
               class="cell" 
               [style.background-color]="getHeatmapColor(currentYearData.count_discipline[b + '-' + s])">
            {{ currentYearData.count_discipline[b + '-' + s] || '-' }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>